.to-do-list {
  text-align: center;
  font-family: Arial, sans-serif;
  text-align: center;
}
h1{
    font-size: 4rem;
}
input {
  margin-right: 10px;
  padding: 5px;
}

button {
  font-size: 1.3rem; 
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border:none;
  border-radius: 5px;
}
.add-button {
  background-color: blue;
}

.delete-button {
  background-color: red;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

button:hover {
  background-color: #007ab3;
}
input[type="text"]{
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid gray;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: #b8bcbe;
  border-radius: 5px;
  display: flex;
  align-items: center;
}